src/components/MainFeatures.css
.features-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    padding: 20px;
  }
  
  .feature-box {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .feature-box:hover {
    transform: scale(1.05);
  }
  
  .feature-box h3 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .feature-box p {
    color: #666;
  }
  
  .feature-box:active {
    transform: scale(0.98);
  }
  